<div class="change-password-page">
  <div class="change-password-card">
    <div class="change-password-avatar"></div>

    <div class="change-password-form">
      <div class="form-row">
        <label for="old-password" class="form-label">Старый пароль</label>
        <input type="password" id="old-password" class="form-input" name="oldPassword" />
      </div>
      <div class="form-row">
        <label for="new-password" class="form-label">Новый пароль</label>
        <input type="password" id="new-password" class="form-input" name="newPassword" />
      </div>
      <div class="form-row">
        <label for="repeat-password" class="form-label">Повторите новый пароль</label>
        <input type="password" id="repeat-password" class="form-input" name="repeatPassword" />
      </div>
    </div>

    <div class="change-password-actions">
      <button type="submit" class="save-button">Сохранить</button>
    </div>
  </div>
</div>
