<div class="login-card">
  <h1 class="login-title">Регистрация</h1>
  <div class="login-form">
    <label class="login-label" for="email">Почта</label>
    {{> Input id="email" type="email"  }}

    <label class="login-label" for="username">Логин</label>
    {{> Input id="username" type="text" }}

    <label class="login-label" for="first-name">Имя</label>
    {{> Input id="first-name" type="text"  }}

    <label class="login-label" for="last-name">Фамилия</label>
    {{> Input id="last-name" type="text" }}

    <label class="login-label" for="phone">Телефон</label>
    {{> Input id="phone" type="tel" }}

    <label class="login-label" for="password">Пароль</label>
    {{> Input id="password" type="password" }}

    <label class="login-label" for="confirm-password">Пароль (ещё раз)</label>
    {{> Input id="confirm-password" type="password" }}

    {{> Button id="register-button" text="Зарегистрироваться" }}

    <div class="login-footer">
      <a href="/login" class="register-link">Уже есть аккаунт?</a>
    </div>
  </div>
</div>
