<header class="app-header">
  <nav class="nav-bar">
    <a href="#login" class="nav-link">Вход</a>
    <a href="#register" class="nav-link">Регистрация</a>
    <a href="#chat" class="nav-link">Чат</a>
    <a href="#profile" class="nav-link">Профиль</a>
    <a href="#profile-edit" class="nav-link">Редактирование профиля</a>
    <a href="#not-found" class="nav-link">Ошибка 404</a>
    <a href="#not-supported" class="nav-link">Ошибка 505</a>
  </nav>
</header>



<div class="login-card">
  <h1 class="login-title">Вход</h1>
  <div class="login-form">
    <label class="login-label" for="login">Логин</label>
    {{> Input id="login" type="text" placeholder="" }}

    <label class="login-label" for="password">Пароль</label>
    {{> Input id="login-label" type="password" }}

    {{> Button id="login-button" text="Авторизоваться"}}

    <div class="login-footer">
      <a href="#" class="footer-link" data-page="registrationPage">Уже есть аккаунт?</a>
    </div>
  </div>

</div>
